workflows/patient-registration/n8n-workflow.json
{
  "name": "Patient Registration \u2192 Ancroo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "patient-registration",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "patient-registration"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS patients (\n  id SERIAL PRIMARY KEY,\n  nachname VARCHAR(255) NOT NULL,\n  vorname VARCHAR(255) NOT NULL,\n  geburtsdatum DATE,\n  versicherung VARCHAR(50),\n  telefon VARCHAR(50),\n  beschwerden TEXT,\n  vorerkrankungen TEXT,\n  source_url TEXT,\n  created_at TIMESTAMPTZ DEFAULT NOW()\n)",
        "options": {}
      },
      "id": "init-table-node",
      "name": "Init Table",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 300],
      "credentials": {
        "postgres": {
          "id": "KzFdWARjVSGsl1kW",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $('Webhook').first().json;\nconst body = input.body || input;\nconst fields = body.fields || {};\nconst context = body.context || {};\n\nconst nachname = (fields.nachname || '').trim();\nconst vorname = (fields.vorname || '').trim();\n\nif (!nachname || !vorname) {\n  throw new Error('Nachname and Vorname are required.');\n}\n\nconst versicherungMap = {\n  'gkv': 'Gesetzlich',\n  'pkv': 'Privat',\n  'beihilfe': 'Beihilfe',\n  'selbstzahler': 'Selbstzahler'\n};\n\nreturn [{\n  json: {\n    nachname,\n    vorname,\n    geburtsdatum: fields.geburtsdatum || null,\n    versicherung: versicherungMap[fields.versicherung] || fields.versicherung || null,\n    telefon: (fields.telefon || '').trim() || null,\n    beschwerden: (fields.beschwerden || '').trim() || null,\n    vorerkrankungen: (fields.vorerkrankungen || '').trim() || null,\n    source_url: context.url || null\n  }\n}];\n"
      },
      "id": "code-node",
      "name": "Process Patient Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": {
          "__rl": true,
          "value": "patients",
          "mode": "list",
          "cachedResultName": "patients"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "insert-node",
      "name": "Insert Patient",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, 300],
      "credentials": {
        "postgres": {
          "id": "KzFdWARjVSGsl1kW",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const patient = $('Process Patient Data').first().json;\nconst inserted = $input.first().json;\n\nconst text = `Patient registered: ${patient.vorname} ${patient.nachname} (ID: ${inserted.id})`;\n\nreturn [{ json: { text } }];\n"
      },
      "id": "summary-node",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ result: $input.first().json.text }) }}",
        "options": {}
      },
      "id": "respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Init Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Table": {
      "main": [
        [
          {
            "node": "Process Patient Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Patient Data": {
      "main": [
        [
          {
            "node": "Insert Patient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Patient": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "ancroo"
    },
    {
      "name": "demo"
    }
  ]
}
