workflows/freight-calculator/n8n-workflow.json
{
  "name": "Freight Calculator \u2192 Ancroo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "freight-calculator",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "freight-calculator"
    },
    {
      "parameters": {
        "jsCode": "// Freight Cost Calculator\n// Reads form fields from the Ancroo extension and calculates shipping cost.\n\nconst input = $input.first().json;\nconst fields = input.fields || {};\n\nconst weight = parseFloat(fields.weight_kg) || 0;\nconst zone = (fields.zone || '').toUpperCase();\nconst packages = parseInt(fields.packages) || 1;\n\n// Zone rates (EUR per kg)\nconst zoneRates = {\n  'A': 2.50,   // Domestic\n  'B': 4.00,   // EU\n  'C': 7.50,   // International\n  'D': 12.00   // Overseas\n};\n\nconst rate = zoneRates[zone] || 5.00;  // Fallback rate\nconst totalCost = (weight * rate * packages).toFixed(2);\n\nreturn [{ json: { freight_cost: totalCost } }];\n"
      },
      "id": "code-node",
      "name": "Calculate Freight",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ result: JSON.stringify($input.first().json) }) }}",
        "options": {}
      },
      "id": "respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Calculate Freight",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Freight": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "ancroo"
    }
  ]
}
